/* *{
    box-sizing: border-box;
} */



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-box{
    margin-top: 100px;
    flex-basis: 400px;
    background: #fff;
    padding: 20px;
}

.login-box h2{
    border-bottom: 1px solid #ccc;
    color: #555;
    text-align: center;
    padding-bottom: 20px;
    margin:  0 0 20px;
}

input{
    width: 100%;
    padding: 8px 20px;
    margin : 8px 0;
    border: 1px solid #ccc;
}

/* input [type=submit]{
    background-color: #038ade;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
} */
