.login-box{
    width: 350px;
    position: absolute;
    top : 40%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 60px;
    padding: 13px 0;
    color : black;
}
.test{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}
.testing {
    width: 80%;
    float: left;
   border: none;
   outline: none;
   background: none;
   color: black;
   font-size: 18px;
   margin: 0 10px;
}
.icons{
    width: 10px;
    float: left;
    text-align: center;
    color: black
}
