.navbar-color {
    background: darkslategrey;  
    /* width: 100%;
    height: 80px; */
    text-align: center;
}

.judul{
    color: white;
    text-align: center;
    justify-content: center
    
}
li {
    border-right: 1px solid #bbb;
  }

